<?php
/**
 * @var $block \LaRecetta\Contact\Block\OfficeLocation\OfficeLocation
 */

$locations = $block->getOfficeLocations();

$markers = array();

if(!empty($locations) && count($locations)) {
    foreach ($locations as $loc) {
        $markers[] = array('pos' => array('lat' => floatval($loc['latitude']), 'lng' => floatval($loc['longitude'])), 'title' => $loc['name']);
    }
}
?>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<div>
    <div id="offices_map" class="officesMap"></div>
</div>

<script>
    require(['jquery', 'jquery.googleapi'], function($, gmap) {
        //Función infowindow, muestra el nombre de la oficina al hacer click
        function infWindow(name) {
            var infowindow = new google.maps.InfoWindow({
                content: '<div id="content">'+
                        '<p style="padding: 10px 0;"><strong>'+name+'</strong></p>'+
                    '</div>',
                maxWidth: 250
            });
            return infowindow;
        }

        //Imagen del marcador de la recetta
        var image = {
            url: 'https://storage.googleapis.com/larecetta-ibis-images/pin-LR.png', //'/pub/media/pin-LR.png',
            size: new google.maps.Size(40, 50),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(20, 50)//los 20
        };

        //Marcadores a mostrar
        var markers = <?php echo json_encode($markers) ?>;

        //Definición del centro del mapa (primer registro de los marcadores o Bogotá)
        var center = (markers && markers[0] && markers[0].pos && typeof markers[0] === 'object') ?
            markers[0].pos :
            {lat: 4.637211, lng: -74.113127};

        //Definición del mapa
        var map = new google.maps.Map(document.getElementById('offices_map'), {
            zoom: 5,
            center: center
        });

        //Carga de los marcadores al mapa
        if (markers) {
            markers.forEach(function (item) {
                var marker = new google.maps.Marker({
                    position: item.pos,
                    map: map,
                    icon: image,
                    title: item.title
                });

                var iw = infWindow(item.title);
                marker.addListener('click', function() {
                    iw.open(map, marker);
                });

            });
        }
    });
</script>

