//Less use compiler
@rojo-recetta: #d21d39;
@color-p-ppal: #333;
@color-Icredsoc: #cccccc;

#propertytypeselect{

  #content_select_request{
    select.form-control{
      cursor: pointer;
    }
  }
  #content_select_process{
    select.form-control{
      cursor: pointer;
    }
    select.form-control[disabled]{
      background-color: #f4f4f4 !important;
    }
  }
  hr.hr-line{
    border-top: 2px solid #cccccc;
  }
}
.col-md-12.my-1.textoTrackingInformacion{
  p{
    display: none;
  }
}
#content_formdields_pqr{
  display: none;
  .col-field{
    display: none;
    label{
      padding: 15px 0px 3px 0px;
      margin: 5px 0 0 0;
      img,p{
        float: left;
      }
      img{
        margin: 3px 5px 3px 0px;
      }
    }
    /*label[data-privaterule="obligatorio"]{
      &:after{
        content: " *";
        color: @rojo-recetta;
      }
    }*/
    input[type="text"],input[type="email"],input[type="number"],select{
      height: 2.3em !important;
      border: solid #c9c9c9 1px !important;
      border-radius: 3px;
      margin: 3px 0;
    }
    input[type="checkbox"]{
      margin: 0px 15px;
    }
    input[name="terms_conds"]{
      margin: 0px !important;
    }
    input[name="terms_conds"] + label{
      cursor: pointer;
    }
    input.disabled[disabled]{
      background-color: #f4f4f4 !important;
    }
  }
}
#modal_pqr,#modal_i_client{
  background: #0000003b;
  .modal-dialog{
    margin: 75px auto 0 auto;
    .modal-content{
      //padding: 15px;
      .modal-header{
        border: none;
        button.close{
          opacity: 1;
        }
      }
    }
  }
}

#modal_pqr{
  z-index: 10000;
  .modal-dialog{
    width: 450px !important;
    .modal-content{
      .modal-body{
        padding: 20px;
      }
      .modal-body{
        .content-response-error.text-center{
          display: none;
          img{
            width: 42px;
          }
        }
        .content-response-ok.text-center{
          display: none;
          .fa.fa-check-circle{
            font-size: 50px;
            color: #388e3c;
          }
        }
        .content-response-used.text-center{
          display: none;
          .fa.fa-times-circle{
            font-size: 50px;
            color: @rojo-recetta;
          }
        }
        hr{
          border-top: 1px solid #848484;
          width: 40%;
        }
      }
    }
  }
}
#modal_i_client{
  position: absolute !important;
  .modal-dialog{
    margin: 7px auto 0 auto;
    width: 45% !important;
    .modal-content{
      padding: 0px;
      .modal-header{
        button.close{

        }
      }
      .modal-body{
        padding: 0px 25px 15px 25px;
        #form_i_client{
          p.text-iclient{
            font-size: 14px;
            margin: 5px 0px !important;
          }
          h3.text-center{
            color: #363636;
            font-weight: 600;
          }
          input[type="text"],input[type="email"],input[type="number"],input[type="tel"],select{
            height: 2.3em !important;
            border: solid #c9c9c9 1px !important;
            border-radius: 3px;
            margin: 5px 0px
          }
          label[for="ic_terms_conds"]{
            cursor: pointer;
          }
          label[for="regional"]{
            padding-bottom: 5px;
          }
          label{
            margin-bottom: 0px;
            p{
              float: right;
              padding: 3px;
            }
          }
          label.label-input-required{
            p{
              &:after{
                content: " *";
                color: @rojo-recetta;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 305px) and (max-width: 736px){
  #modal_i_client .modal-dialog {
    margin: 7px auto 0 auto;
    width: 94% !important;
  }
}
