#propertytypeselect #content_select_request select.form-control {
  cursor: pointer;
}
#propertytypeselect #content_select_process select.form-control {
  cursor: pointer;
}
#propertytypeselect #content_select_process select.form-control[disabled] {
  background-color: #f4f4f4 !important;
}
#propertytypeselect hr.hr-line {
  border-top: 2px solid #cccccc;
}
.col-md-12.my-1.textoTrackingInformacion p {
  display: none;
}
#content_formdields_pqr {
  display: none;
}
#content_formdields_pqr .col-field {
  display: none;
  /*label[data-privaterule="obligatorio"]{
      &:after{
        content: " *";
        color: @rojo-recetta;
      }
    }*/
}
#content_formdields_pqr .col-field label {
  padding: 15px 0px 3px 0px;
  margin: 5px 0 0 0;
}
#content_formdields_pqr .col-field label img,
#content_formdields_pqr .col-field label p {
  float: left;
}
#content_formdields_pqr .col-field label img {
  margin: 3px 5px 3px 0px;
}
#content_formdields_pqr .col-field input[type="text"],
#content_formdields_pqr .col-field input[type="email"],
#content_formdields_pqr .col-field input[type="number"],
#content_formdields_pqr .col-field select {
  height: 2.3em !important;
  border: solid #c9c9c9 1px !important;
  border-radius: 3px;
  margin: 3px 0;
}
#content_formdields_pqr .col-field input[type="checkbox"] {
  margin: 0px 15px;
}
#content_formdields_pqr .col-field input[name="terms_conds"] {
  margin: 0px !important;
}
#content_formdields_pqr .col-field input[name="terms_conds"] + label {
  cursor: pointer;
}
#content_formdields_pqr .col-field input.disabled[disabled] {
  background-color: #f4f4f4 !important;
}
#modal_pqr,
#modal_i_client {
  background: #0000003b;
}
#modal_pqr .modal-dialog,
#modal_i_client .modal-dialog {
  margin: 75px auto 0 auto;
}
#modal_pqr .modal-dialog .modal-content .modal-header,
#modal_i_client .modal-dialog .modal-content .modal-header {
  border: none;
}
#modal_pqr .modal-dialog .modal-content .modal-header button.close,
#modal_i_client .modal-dialog .modal-content .modal-header button.close {
  opacity: 1;
}
#modal_pqr {
  z-index: 10000;
}
#modal_pqr .modal-dialog {
  width: 450px !important;
}
#modal_pqr .modal-dialog .modal-content .modal-body {
  padding: 20px;
}
#modal_pqr .modal-dialog .modal-content .modal-body .content-response-error.text-center {
  display: none;
}
#modal_pqr .modal-dialog .modal-content .modal-body .content-response-error.text-center img {
  width: 42px;
}
#modal_pqr .modal-dialog .modal-content .modal-body .content-response-ok.text-center {
  display: none;
}
#modal_pqr .modal-dialog .modal-content .modal-body .content-response-ok.text-center .fa.fa-check-circle {
  font-size: 50px;
  color: #388e3c;
}
#modal_pqr .modal-dialog .modal-content .modal-body .content-response-used.text-center {
  display: none;
}
#modal_pqr .modal-dialog .modal-content .modal-body .content-response-used.text-center .fa.fa-times-circle {
  font-size: 50px;
  color: #d21d39;
}
#modal_pqr .modal-dialog .modal-content .modal-body hr {
  border-top: 1px solid #848484;
  width: 40%;
}
#modal_i_client {
  position: absolute !important;
}
#modal_i_client .modal-dialog {
  margin: 7px auto 0 auto;
  width: 45% !important;
}
#modal_i_client .modal-dialog .modal-content {
  padding: 0px;
}
#modal_i_client .modal-dialog .modal-content .modal-body {
  padding: 0px 25px 15px 25px;
}
#modal_i_client .modal-dialog .modal-content .modal-body #form_i_client p.text-iclient {
  font-size: 14px;
  margin: 5px 0px !important;
}
#modal_i_client .modal-dialog .modal-content .modal-body #form_i_client h3.text-center {
  color: #363636;
  font-weight: 600;
}
#modal_i_client .modal-dialog .modal-content .modal-body #form_i_client input[type="text"],
#modal_i_client .modal-dialog .modal-content .modal-body #form_i_client input[type="email"],
#modal_i_client .modal-dialog .modal-content .modal-body #form_i_client input[type="number"],
#modal_i_client .modal-dialog .modal-content .modal-body #form_i_client input[type="tel"],
#modal_i_client .modal-dialog .modal-content .modal-body #form_i_client select {
  height: 2.3em !important;
  border: solid #c9c9c9 1px !important;
  border-radius: 3px;
  margin: 5px 0px;
}
#modal_i_client .modal-dialog .modal-content .modal-body #form_i_client label[for="ic_terms_conds"] {
  cursor: pointer;
}
#modal_i_client .modal-dialog .modal-content .modal-body #form_i_client label[for="regional"] {
  padding-bottom: 5px;
}
#modal_i_client .modal-dialog .modal-content .modal-body #form_i_client label {
  margin-bottom: 0px;
}
#modal_i_client .modal-dialog .modal-content .modal-body #form_i_client label p {
  float: right;
  padding: 3px;
}
#modal_i_client .modal-dialog .modal-content .modal-body #form_i_client label.label-input-required p:after {
  content: " *";
  color: #d21d39;
}
@media (min-width: 305px) and (max-width: 736px) {
  #modal_i_client .modal-dialog {
    margin: 7px auto 0 auto;
    width: 94% !important;
  }
}
/*# sourceMappingURL=contact.css.map */