<?php

/**
 * @var LaRecetta\Contact\Block\Contact\ContactForm $block
 */

$checkoutHelper = $this->helper('LaRecetta\Checkout\Helper\Data');
$serProveedor = $checkoutHelper->getGeneralConfig('want_be_provider_url');
$solCredito = $checkoutHelper->getGeneralConfig('credit_application_format_url');
$helperCheckoutData = $this->helper('LaRecetta\Checkout\Helper\Data');
$terminosCond = $helperCheckoutData->getGeneralConfig('terminos_condiciones');
$isLoggedIn = $block->isLoggedIn();
$requestProcess = $block->getRequestProcess();
$docTypes = !empty($block->getDocumentTypes()) ? $block->getDocumentTypes() : array();
$regionals = !empty($block->getRegionals()) ? $block->getRegionals() : array();
?>

<div class="row notRow">
    <div class="col-md-12 col-xs-12 p-0">
        <p class="pb-1 pt-1">Ayúdenos a dirigir mejor su requerimiento:</p>
    </div>
    <?php if($isLoggedIn): ?>
        <div class="col-md-2 col-xs-6 p-0">
            <a href="<?= !empty(trim($solCredito))? trim($solCredito): '#' ?>" class="btn btn-danger" target="_blank">Solicitar crédito</a>
        </div>
    <?php else: ?>
        <div class="col-md-2 col-xs-6 p-0">
            <a href="#" id="i_client" class="btn btn-danger">Quiero ser cliente</a>
        </div>
        <div class="col-md-2 col-xs-6 p-0">
            <a href="<?= !empty(trim($serProveedor))? trim($serProveedor): '#' ?>" class="btn btn-danger" target="_blank">Quiero ser proveedor</a>
        </div>
    <?php endif; ?>
</div>

<?php  ?>
<form>
    <div class="row notRow">
        <?php if (!empty($requestProcess)):?>
        <div id="propertytypeselect" data-public="<?= $block->isLoggedIn() ? 1 : 0 ?>"><br />
            <div class="row notRow">
                <div class="col-md-4 col-xs-12">
                    <div class="row notRow vertical-align">
                        <div class="col-md-4 col-sm-2 col-xs-7">Requerimiento:</div>
                        <div class="col-md-8 col-sm-10 col-xs-9 p-0" id="content_select_request">
                            <select class="form-control select-requerimientos">
                                <option value="" disabled selected>Seleccionar</option>
                                <?php foreach ($requestProcess as $rqst): ?>
                                    <option value="<?= $rqst['pqr_request_type_id'] ?>"><?= $rqst['pqr_request_type_name'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row notRow">
                <div class="col-md-4 col-xs-12">
                    <div class="row notRow vertical-align">
                        <div class="col-md-4 col-sm-2 col-xs-7">Asunto:</div>
                        <div class="col-md-8 col-sm-10 col-xs-9 p-0" id="content_select_process">
                            <select class="form-control select-process" disabled>
                                <option value="" disabled selected >Seleccionar</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 my-1 textoTrackingInformacion">
        <p>Por favor complete el formulario y nos pondremos en contacto con usted.</p>
    </div>
</form>
<?= $this->getLayout()->createBlock("LaRecetta\Contact\Block\Contact\FormFields")->setTemplate("LaRecetta_Contact::contact/formfields.phtml")->toHtml(); ?>
<?php endif;?>

<!-- Modal i client-->
<div id="modal_i_client" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="<?= $block->getUrl() ?>contact/pqr/iclient" id="form_i_client">
                    <input type="hidden" name="url_request" value="<?= $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]) ?>">
                    <h3 class="mt-0 text-center">Quiero Ser Cliente</h3>
                    <p class="text-iclient">Para obtener más información sobre cómo ser cliente de La
                        Recetta, complete el formulario y un representante de ventas se
                        comunicará con usted. Por favor envíe la información anterior
                        solo una vez. Si ya ha visto una confirmación de esta información,
                        se ha enviado correctamente.</p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-xs-12 mb-1">
                                <label for="firstname" class="label-input-required">
                                    <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-nit-correo.png" alt="firstname" width="25px">
                                    <p>Nombre(s)</p>
                                </label>
                                <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Ingrese su nombre" required>
                            </div>
                            <div class="col-md-6 col-xs-12 mb-1">
                                <label for="lastname" class="label-input-required">
                                    <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-nit-correo.png" alt="firstname" width="25px">
                                    <p>Apellido(s)</p>
                                </label>
                                <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Ingrese sus apellidos" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 col-xs-12 mb-1">
                                <label for="telephone" class="label-input-required">
                                    <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-de-telefono.png" alt="Teléfono de contacto" width="15px">
                                    <p>Teléfono de contacto</p>
                                </label>
                                <input type="number" pattern="[0-9]+" name="telephone" maxlength="10" minlength="8" id="telephone" class="form-control" placeholder="Ingrese su teléfono" required>
                            </div>
                            <div class="col-md-8 col-xs-12 mb-1">
                                <label for="email" class="label-input-required">
                                    <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-email.png" alt="Correo electrónico" width="20px">
                                    <p>Correo electrónico</p>
                                </label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Ingrese su correo electrónico" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 col-xs-12 mb-1">
                                <label for="type_id" class="label-input-required">
                                    <p>Tipo de ID</p>
                                </label>
                                <select class="custom-select m-0" name="type_id" required>
                                    <option value="" disabled selected>Seleccionar</option>
                                    <?php foreach ($docTypes as $tipo):?>
                                        <option value="<?= $tipo['code'] ?>"><?= $tipo['label'] ?></option>
                                    <?php endforeach;?>
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-10 p-0 mb-1">
                                <label for="identification" class="label-input-required">
                                    <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-nit-correo.png" alt="No. de Identificación" width="25px">
                                    <p>No. de Identificación</p>
                                </label>
                                <input type="number" name="identification" id="identification" class="form-control" placeholder="Ingrese su No. de identificación" required>
                            </div>
                            <div class="col-md-5 col-xs-12 mb-1">
                                <label for="direction" class="label-input-required">
                                    <img src="https://storage.googleapis.com/larecetta-ibis-images/img-direction.png" alt="Dirección" width="12px">
                                    <p>Dirección</p>
                                </label>
                                <input type="text" name="direction" id="direction" class="form-control" placeholder="Dirección del establecimiento" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 col-xs-6 mb-1">
                                <label for="regional" class="label-input-required p-0"><p class="p-0">Regional</p></label>
                                <select class="custom-select m-0" name="regional" required>
                                    <option value="" disabled selected>Seleccionar</option>
                                    <?php foreach ($regionals as $regional):?>
                                        <option value="<?= $regional['code'] ?>"><?= $regional['label'] ?></option>
                                    <?php endforeach;?>
                                </select>
                            </div>
                            <div class="col-md-8 col-xs-6 mb-1">
                                <label for="bussinessname">Razón Social</label>
                                <input type="text" name="bussinessname" id="bussinessname" class="form-control" placeholder="Ingrese la razón social">
                            </div>
                            <div class="col-md-12 col-xs-12 mb-1">
                                <label for="details" class="label-input-required"><p>Comentario</p></label>
                                <textarea name="details" id="" cols="2" rows="2" required placeholder="Por favor esciba el mayor detalle de su negocio y los productos que le interesan"></textarea>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <p class="text-iclient">En caso de cualquier inquietud comuníquese a nuestra línea de
                                    servicio al cliente 018000-526767. Nuestros asesores están
                                    disponibles Lunes a Viernes: de 8:00 a.m. a 6:00 p.m., Sábado: de
                                    8:00 a.m. a 12:00 m.</p>
                            </div>
                            <div class="col-md-12 col-xs-12 text-center">
                                <input type="checkbox" id="ic_terms_conds" name="ic_terms_conds" required>
                                <label for="ic_terms_conds">Acepto <a href="<?= !empty( $terminosCond ) ? $terminosCond : '' ?>" target="_blank">Términos y Condiciones</a></label>
                            </div>
                            <div class="col-md-12 col-xs-12 pt-1 text-center">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
            </div>
                </form>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>-->
        </div>

    </div>
</div>
<!--Modal i client-->


<script>
    require(['jquery','js/orders/functions'], function($,functions) {



        $(document).ready(function () {

            let iclient = '<?= $block->getRequest()->getParam('iclient') ?>';

            var requestProcess = <?= json_encode($requestProcess) ?>;
            const elementsFormPqr = {
                urlGetRequests : '/contact/pqr/SelectPqr',
                urlGetFormFields : '/contact/pqr/FormFields',
                selectRequest : $("select" ,"#content_select_request"),
                selectprocess : $("select", "#content_select_process"),
                is_public : $("#propertytypeselect").attr('data-public')
            };
            var i_client = {
                btnIClient : $("a#i_client"),
                modalIClient : $("#modal_i_client"),
                btnClose : $("button.close","#modal_i_client"),
                formIClient : $("#form_i_client"),
                modal : {
                    elem : $("#modal_pqr"),
                    btnClose : $("button.close","#modal_pqr"),
                    titleResponse : $("#title-response-modal"),
                    messageResponse : $("#content-message-modal"),
                    contentError : $(".content-response-error.text-center"),
                    contentUsed : $(".content-response-used.text-center"),
                    contentOk : $(".content-response-ok.text-center")
                }
            };

            elementsFormPqr.selectRequest.change( function () {
                var needle = $(this).val();
                var objSelectProcess = requestProcess[needle];
                var optionsSelectProcess  = objSelectProcess.Process;

                var options = '';
                options+= "<option value='' disabled selected >Seleccionar</option>";
                $.each(optionsSelectProcess,(i, val) => {
                    options += "<option value='"+val.pqr_process_id+"'>"+val.pqr_process_name+"</option>";
                });
                elementsFormPqr.selectprocess.html(options);
                elementsFormPqr.selectprocess.attr('disabled',false);

                functions.actionRequest(elementsFormPqr.urlGetFormFields,
                    {
                        'request' : $(this).val(),
                        'process' : elementsFormPqr.selectprocess.val(),
                        'is_public' : elementsFormPqr.is_public
                    },(response)=>{
                    functions.hideAndShow('.col-field','col-field',response.formfields);
                        $("#content_formdields_pqr").hide();
                        $(".col-md-12.my-1.textoTrackingInformacion p").hide();
                });
                $('input[name="process"]').val(elementsFormPqr.selectprocess.find(':selected').text());
                $('input[name="request"]').val($(this).find(':selected').text());
            });

            elementsFormPqr.selectprocess.change(function (){
                functions.actionRequest(elementsFormPqr.urlGetFormFields,
                    {
                        'request' : elementsFormPqr.selectRequest.val(),
                        'process' : $(this).val(),
                        'is_public' : elementsFormPqr.is_public
                    },(response)=>{
                        functions.hideAndShow('.col-field','col-field',response.formfields);
                        $("#content_formdields_pqr").show();
                        $(".col-md-12.my-1.textoTrackingInformacion p").show();
                    });
                $('input[name="request"]').val(elementsFormPqr.selectRequest.find(':selected').text());
                $('input[name="process"]').val($(this).find(':selected').text());
            });

            i_client.btnIClient.click((e)=>{
                e.preventDefault();
                functions.showModalByElement(i_client.modalIClient);
            });

            /**
             * Show modal iclient
             */
            if (iclient != ''){
                functions.showModalByElement(i_client.modalIClient);
            }

            i_client.btnClose.click(()=>{
                functions.closeByElement(i_client.modalIClient,()=>{
                    i_client.formIClient[0].reset();
                });
            });

            i_client.modal.btnClose.click(()=>{
                // i_client.formIClient[0].reset();
                functions.closeByElement(i_client.modalIClient,()=>{
                    i_client.formIClient[0].reset();
                });
            });

            i_client.formIClient.submit((e)=>{
                e.preventDefault();
                $("button[type='submit']",i_client.formIClient).attr('disabled',true).html('Enviando...');
                functions.actionRequest(i_client.formIClient.attr('action'),i_client.formIClient.serialize(),(response)=>{
                    i_client.modal.titleResponse.html(response.title);
                    i_client.modal.messageResponse.html(response.message);
                    if (response.status === 'Error') {
                        i_client.modal.contentError.show();
                        i_client.modal.contentOk.hide();
                        i_client.modal.contentUsed.hide();
                    }else if(response.status === 'Used'){
                        i_client.modal.contentUsed.show();
                        i_client.modal.contentOk.hide();
                        i_client.modal.contentError.hide();
                    }else{
                        i_client.modal.contentError.hide();
                        i_client.modal.contentUsed.hide();
                        i_client.modal.contentOk.show();
                    }
                    functions.showModalByElement($("#modal_pqr"));
                    $("button[type='submit']",i_client.formIClient).html('Enviar');
                },'post');
            });
            //Event select type_id
            $("label[for='type_id'] + select.custom-select").change(function(){
                var seleccionado = $(this).find(':selected').text();
                $("input[name='identification']").attr('placeholder','Ingrese su '+seleccionado).attr('disabled',false);
            });


        });



    });
</script>
