<?php
/**
 * @var \LaRecetta\Contact\Block\Contact\FormFields $block
 */

$formdields = $block->getFormsFields();
$utilityCustomer = $this->helper('LaRecetta\Customer\Helper\UtilityCustomer');
$isLogged = $utilityCustomer->IsLoged_Customer();
$helperCheckoutData = $this->helper('LaRecetta\Checkout\Helper\Data');
$terminosCond = $helperCheckoutData->getGeneralConfig('terminos_condiciones');
$parent = null;
$childs = null;
$direSubAccount = null;
if ($isLogged) :
    $customer = $block->getCustomer();
    $id = $customer->getId();
    $customerModel = $block->getModelCustomer($id);
    $arrDir = $block->getAddress($customer);
    $direSubAccount = $arrDir['dir']." - ".$arrDir['city'];
    if ($block->getParentId()){
        $parent = $block->getModelCustomer($block->getParentId());
        $childs = $block->getSubAccounts($block->getParentId());
    }
    foreach ($customer->getAddresses() as $address) {
        $telephone = $address->getTelephone();
    }
endif;
?>

<?php if (!empty($formdields)) : ?>
<div class="row">
    <div class="container" id="content_formdields_pqr">
        <!--<div class="col-md-12 mb-3 mt-1">
            <legend class="mt-1"><?/*= __('Formulario de Pqr') */?></legend>
        </div>-->
        <form action="<?= $block->getUrl() ?>contact/pqr/pqrwebtocase" class="">
            <?= $block->getBlockHtml('formkey') ?>
            <input type="hidden" name="request">
            <input type="hidden" name="process">
            <input type="hidden" name="url_request" value="<?= $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]) ?>">
            <?php if ($isLogged):?>
                <input type="hidden" name="customerId" value="<?= $id ?>">
                <input type="hidden" name="sap_code_customer" value="">
            <?php endif;?>
            <?php foreach ($formdields as $field) : ?>
                <?php if ($isLogged):?>
                    <?php
                    if($field['private_rule'] != 'novisible'):?>

                    <div class="<?= $field['code'] === 'terms_conds' ? 'col-md-12 text-center pt-2' : 'col-md-6' ?>  col-xs-12 col-field col-field-<?= $field['entity_id'] ?>">
                        <?php if ($field['code'] === 'terms_conds'):?>

                        <?php else: ?>
                            <label for="field_<?= $field['entity_id'] ?>" data-rule="<?= $field['private_rule'] ?>">
                                <?php switch ($field['code']):
                                    case 'telephone' : ?>
                                        <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-de-telefono.png" alt="<?= $field['label'] ?>" width="18px" style="margin: -1px 3px -1px 0px;">
                                        <?php break;
                                    case 'firstname' :?>
                                        <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-nit-correo.png" alt="<?= $field['label'] ?>" width="25px">
                                        <?php break;
                                    case 'email' :?>
                                        <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-email.png" alt="<?= $field['label'] ?>" width="18px" style="margin:0px 5px 3px 0px">
                                        <?php break;
                                    case 'address' :?>
                                        <img src="https://storage.googleapis.com/larecetta-ibis-images/img-direction.png" alt="<?= $field['label'] ?>" width="12px" style="margin: 0px 5px 0px 0px">
                                        <?php break;
                                    case 'description_req' :?>

                                        <?php break;
                                    default : ?>
                                        <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-nit-correo.png" alt="<?= $field['label'] ?>" width="25px">
                                    <?php
                                endswitch; ?>
                                <p><?= $field['label'] ?> <?= ($field['private_rule'] === 'obligatorio' || $field['private_rule']  === 'combobox' || $field['private_rule']  === 'auto' || $field['private_rule'] === 'autoedit') ? '<span class="text-danger">*</span>' : '' ?></p>
                            </label>
                        <?php endif;?>
                        <?php if ($field['type'] === 'text' || $field['type'] === 'number' || $field['type'] === 'email' ) : ?>
                            <input class="form-control"
                                    type="<?= $field['type'] ?>"
                                    name="<?= $field['code'] ?>"
                                   <?php if (!empty($block->getParentId())) : //Cuando el usuario es padre ?>
                                        <?php if ($field['code'] === 'email') : ?>
                                            value="<?= $parent->getEmail() ?>"
                                       <?php elseif($field['code'] === 'firstname' || $field['code'] === 'lastname'): ?>
                                            value="<?= $parent->getData($field['code']) ?>"
                                       <?php elseif($field['code'] === 'telephone'): ?>
                                        <?php if(!empty($block->getParentId())): ?>
                                           value="<?= !empty($customerModel->getDefaultShippingAddress()) ? !empty($customerModel->getDefaultShippingAddress()->getData('telephone')) ? $customerModel->getDefaultShippingAddress()->getData('telephone') : '' : $parent->getDefaultShippingAddress()->getData('telephone') ?>"
                                        <?php else: ?>
                                           value="<?= '0000' ?>"
                                        <?php endif; ?>
                                        <?php else: ?>
                                        value="<?= ($field['private_rule'] == 'auto' || $field['private_rule'] == 'autoedit' ) ?  empty($block->getParentId()).$customer->getData($field['code']): ''; ?>"
                                           <?= $field['private_rule'] === 'obligatorio' ? 'required' :'' ?>
                                    <?php endif; ?>

                                   <?php else: //Cuando el usuario es hijo ?>
                                        <?php if ($field['code'] === 'telephone') : //todo cambiar a telephone ?>
                                           value="<?= $telephone ?>"
                                        <?php else: ?>
                                            value="<?= $customer->getData($field['code']) ?>"
                                        <?php endif; ?>
                                   <?php endif; ?>
                                    id="field_<?= $field['entity_id'] ?>"
                            <?= $field['private_rule'] === 'auto' ? 'readonly' : '' ?>
                            <?= $field['private_rule'] === 'autoedit' ? 'required' : '' ?>
                            <?= $field['private_rule'] === 'obligatorio' ? 'required' : '' ?>>
                        <?php elseif($field['type'] === 'textarea'): ?>
                            <textarea class="form-control" name="<?= $field['code'] ?>" id="field_<?= $field['entity_id'] ?>"
                                      cols="20" rows="2" <?= $field['private_rule'] === 'obligatorio' ? 'required' :'' ?>
                            placeholder="Por favor escriba el mayor detalle posible de su solicitud."></textarea>
                        <?php elseif($field['type'] === 'checkbox' && $field['code'] != 'terms_conds'): ?>
                            <input type="checkbox" type="<?= $field['type'] ?>"
                                   name="<?= $field['code'] ?>"
                                   id="field_<?= $field['entity_id'] ?>"
                                <?= $field['public_rule'] === 'obligatorio' ? 'required' : '' ?> >
                        <?php elseif($field['type'] === 'checkbox' && $field['code'] === 'terms_conds'): ?>

                        <?php elseif($field['type'] === 'selectdir'): ?>
                            <?php if (!empty($block->getParentId())) : ?>
                                <select name="<?= $field['code'] ?>" id="field_<?= $field['entity_id'] ?>" required >
                                    <option value="">Seleccionar</option>
                                        <?php foreach ($childs as $address) : ?>
                                            <option data-nit="<?= $address['data']['nit'] ?>"
                                                    data-sap_code="<?= $address['data']['sap_code'] ?>"
                                                    data-business_name="<?= $address['data']['business_name'] ?>">
                                                    <?= $address['direction']['dir']."  ".$address['direction']['city'] ?>
                                            </option>
                                        <?php endforeach; ?>
                                </select>
                            <?php else: ?>
                                <input name="<?= $field['code'] ?>" id="field_<?= $field['entity_id'] ?>"
                                       type="text"
                                       readonly value="<?= $direSubAccount ?>" class="form-control">
                            <?php endif; ?>
                        <?php else: ?>
                            <input name="<?= $field['code'] ?>" id="field_<?= $field['entity_id'] ?>"
                                   type="<?= $field['type'] ?>"
                                   readonly value="" class="form-control">
                        <?php endif; ?>
                    </div>
                    <?php endif; ?>

                <?php else: //TODO ELSE CUSTOMER ACCOUNT IS NOT LOGGED?>

                    <?php if($field['public_rule'] != 'novisible'):?>
                        <div class="<?= $field['code'] === 'terms_conds' ? 'col-md-12 text-center pt-2' : 'col-md-6' ?>  col-xs-12 col-field col-field-<?= $field['entity_id'] ?>">
                            <?php if ($field['code'] === 'terms_conds'):?>
                            <?php else:?>
                                <label for="field_<?= $field['entity_id'] ?>">

                                    <?php switch ($field['code']):
                                        case 'telephone' : ?>
                                             <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-de-telefono.png" alt="<?= $field['label'] ?>" width="18px" style="margin: -1px 3px -1px 0px;">
                                        <?php break;
                                        case 'firstname' :?>
                                            <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-nit-correo.png" alt="<?= $field['label'] ?>" width="25px">
                                        <?php break;
                                        case 'email' :?>
                                            <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-email.png" alt="<?= $field['label'] ?>" width="18px" style="margin:0px 5px 3px 0px">
                                            <?php break;
                                        case 'address' :?>
                                            <img src="https://storage.googleapis.com/larecetta-ibis-images/img-direction.png" alt="<?= $field['label'] ?>" width="12px" style="margin: 0px 5px 0px 0px">
                                            <?php break;
                                        case 'description_req' :?>

                                        <?php break;
                                        default : ?>
                                            <img src="https://storage.googleapis.com/larecetta-ibis-images/icono-nit-correo.png" alt="firstname" width="25px">
                                        <?php
                                        endswitch;?>

                                    <p><?= $field['label'] ?> <?= ($field['public_rule'] == 'obligatorio') ? '<span class="text-danger">*</span>' : '' ?></p>
                                </label>
                            <?php endif;?>
                            <?php if ($field['type'] === 'text' || $field['type'] === 'number' || $field['type'] === 'email' || $field['type'] === 'selectdir' ) : ?>
                                <input class="form-control"
                                       <?php if ($field['type'] === 'selectdir'):?>
                                           type="text"
                                       <?php elseif($field['code'] === 'email'): ?>
                                           type="email"
                                       <?php else:?>
                                           type="<?= $field['type'] ?>"
                                       <?php endif;?>
                                       name="<?= $field['code'] ?>"
                                       id="field_<?= $field['entity_id'] ?>"
                                <?= $field['public_rule'] === 'obligatorio' ? 'required' : '' ?> >
                            <?php elseif($field['type'] === 'textarea'): ?>
                                <textarea class="form-control" name="<?= $field['code'] ?>" id="field_<?= $field['entity_id'] ?>"
                                          cols="20" rows="2" <?= $field['public_rule'] === 'obligatorio' ? 'required' : '' ?>
                                placeholder="Por favor escriba el mayor detalle posible de su solicitud."></textarea>
                            <?php elseif($field['type'] === 'checkbox' && $field['code'] != 'terms_conds'): ?>
                                <input type="checkbox" type="<?= $field['type'] ?>"
                                       name="<?= $field['code'] ?>"
                                       id="field_<?= $field['entity_id'] ?>"
                                    <?= $field['public_rule'] === 'obligatorio' ? 'required' : '' ?> >
                            <?php elseif($field['type'] === 'checkbox' && $field['code'] === 'terms_conds'): ?>
                                <input type="checkbox" type="<?= $field['type'] ?>"
                                       name="<?= $field['code'] ?>"
                                       id="field_<?= $field['entity_id'] ?>"
                                    <?= $field['public_rule'] === 'obligatorio' ? 'required' : '' ?> >
                                <label for="field_<?= $field['entity_id'] ?>">Acepto <a href="<?= !empty( $terminosCond ) ? $terminosCond : '' ?>" target="_blank">Términos y Condiciones *</a></label>
                            <?php else: ?>
                                <input type="text" readonly value="" class="form-control">
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>

                <?php endif;?>
            <?php endforeach; ?>
            <div class="col-md-12 text-center p-2">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>
<?php endif; ?>


<!-- Modal PQR -->
<div id="modal_pqr" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="content-response-error text-center">
                    <img src="https://storage.googleapis.com/larecetta-ibis-images/404.png" alt="">
                </div>
                <div class="content-response-ok text-center">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="content-response-used text-center">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </div>
                <h4 id="title-response-modal" class="text-center my-1">Falla de sistema</h4>
                <hr>
                <div id="content-message-modal" class="mt-2"></div>
            </div>
        </div>

    </div>
</div>
<!--Modal PQR -->

<?php //\Zend_Debug::dump($parent->getParentId()); ?>
<?php //\Zend_Debug::dump($formdields); ?>

<script>
    require(['jquery','js/orders/functions'],function ($,functions) {
        var selectAddress = $('select[name="address"]');
        var input_nit = $('input[name="nit"]');
        var input_business_name = $('input[name="business_name"]');
        var input_sap_code = $('input[name="sap_code"]');
        var content = $("#content_formdields_pqr");
        let contElems = {
            form : {
                el : $("form",content),
                url : $("form",content).attr('action')
            },
            modal : {
                elem : $("#modal_pqr"),
                btnClose : $("button.close","#modal_pqr"),
                titleResponse : $("#title-response-modal"),
                messageResponse : $("#content-message-modal"),
                contentError : $(".content-response-error.text-center"),
                contentOk : $(".content-response-ok.text-center")
            }
        };
        var i_client = {
            btnIClient : $("a#i_client"),
            modalIClient : $("#modal_i_client"),
            btnClose : $("button.close","#modal_i_client"),
            formIClient : $("#form_i_client"),
            modal : {
                elem : $("#modal_pqr"),
                btnClose : $("button.close","#modal_pqr"),
                titleResponse : $("#title-response-modal"),
                messageResponse : $("#content-message-modal"),
                contentError : $(".content-response-error.text-center"),
                contentOk : $(".content-response-ok.text-center")
            }
        };
        var buttonSubmit = $("button[type='submit']",contElems.form.el);
        selectAddress.change( () => {
             var nit = selectAddress.find(':selected').attr('data-nit');
             var sap_code = selectAddress.find(':selected').attr('data-sap_code');
             var business_name = selectAddress.find(':selected').attr('data-business_name');
             var inpuSapCode = $("input[name='sap_code_customer']");
            input_nit.val(nit);
            input_business_name.val(business_name);
            input_sap_code.val(sap_code);
            inpuSapCode.val(sap_code);
        });

        contElems.form.el.submit((e) => {
            e.preventDefault();
            buttonSubmit.attr('disabled',true).html('<img src="https://storage.googleapis.com/larecetta-ibis-images/loading.gif" width="20px">');
            functions.actionRequest(contElems.form.url,contElems.form.el.serialize(), (response)=>{
                if(response && response.status === 'Error'){
                    contElems.modal.contentError.show();
                    contElems.modal.titleResponse.html(response.title);
                    contElems.modal.messageResponse.html(response.message);
                    contElems.modal.contentOk.hide();
                }else{
                    contElems.modal.contentError.hide();
                    contElems.modal.titleResponse.html(response.title);
                    contElems.modal.messageResponse.html(response.message);
                    contElems.modal.contentOk.show();
                }
                functions.showModalByElement($("#modal_pqr"));
                buttonSubmit.html('Enviar');
            },'post');
        });
        contElems.modal.btnClose.click(()=>{
            functions.closeByElement(contElems.modal.elem);
            buttonSubmit.attr('disabled',false);
            $("button[type='submit']",i_client.formIClient).attr('disabled',false);
            contElems.modal.contentError.hide();

            if (contElems.modal.titleResponse.text() != 'Falla del Sistema'){
                content.hide();
                $(".col-md-12.my-1.textoTrackingInformacion p").hide();
                contElems.form.el[0].reset();
                $("#content_select_request option:eq(0)").attr('selected', 'selected');
                $("#content_select_process select").attr('disabled',true).html("<option value='' disabled='' selected=''>Seleccionar</option>");
            }
        });
    })

</script>
